<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Optemo | Search | Multi-Channel Commerce | Big Data</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 6]>
  <script type="text/javascript">
  alert("This site is incompatible with your version of IE. Please consider upgrading to IE 7 or later.");
  </script>
  <![endif]-->
  
  <!--[if gt IE 6]>
  <link rel="stylesheet" type="text/css" href="css/iespecific.css" />
  <![endif]-->
</head>
<body>
  <!-- Header - common across all pages -->
  
  <div id="contact-header">
    <div class="container-fluid">
      <div class="container">
        <div class="row pull-right">
          <div class="span2">
            <div class="text blend phone"><i class="icon-user icon-white icon"></i> 604.639.0778</div>
          </div>
          <div class="span 2">
            <div class="text blend email"><script type="text/javascript">document.write(
"<n uers=\"znvygb:fnyrf\100bcgrzb\056pbz\">".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script><i class="icon-envelope icon-white icon"></i> <script type="text/javascript">document.write(
"fnyrf\100bcgrzb\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar">
          <a class="brand pull-left" href="/"></a>
          <ul class="nav pull-right">
            <li class="dropdown<%= active_check("products") %>"><div class="dropdown-toggle" data-toggle="dropdown">Products</div>
              <ul class="dropdown-menu">
                <li><%= link_to action: "search" do %><p class="navbar-text">Keyword Search</p><% end %></li>
                <li><%= link_to action: "faceted" do %><p class="navbar-text">Faceted Navigation</p><% end %></li>
                <li><%= link_to action: "recommendations" do %><p class="navbar-text">Recommendations</p><% end %></li>
                <li><%= link_to action: "mrc" do %><p class="navbar-text">Merchant Resource Centre</p><% end %></li>
              </ul>
            </li>
            <li class="dropdown<%= active_check("technology") %>"><div class="dropdown-toggle" data-toggle="dropdown">Technology</div>
              <ul class="dropdown-menu">
                <li><%= link_to action: "adaptation" do %><p class="navbar-text">Adaptation Engine</p><% end %></li>
                <li><%= link_to action: "api" do %><p class="navbar-text">Search API</p><% end %></li>
              </ul>
            </li>
            <li class="dropdown<%= active_check("support") %>"><%= link_to "Support & Services", {action: 'support'}, {class: "dropdown-toggle"} %>
              <ul class="navbar-text">
              </ul>
            </li>
            <li class="dropdown<%= active_check("company") %>"><div class="dropdown-toggle" data-toggle="dropdown">Company</div>
              <ul class="dropdown-menu">
                <li><%= link_to action: "about" do %><p class="navbar-text">About Us</p><% end %></li>
                <li><%= link_to action: "careers" do %><p class="navbar-text">Careers</p><% end %></li>
                <li><%= link_to action: "news" do %><p class="navbar-text">News &amp; Events</p><% end %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End of common header -->
  <%= yield %>
  <!-- Footer - common across all pages -->
  
  <div id="menu">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h5>PRODUCTS</h5>
            <p><%= link_to "Keyword Search", action: "search" %></p>
            <p><%= link_to "Faceted Navigation", action: 'faceted' %></p>
            <p><%= link_to "Recommendations", action: 'recommendations' %></p>
            <p><%= link_to "Merchant Resource Centre", action: 'mrc' %></p>
          </div>
          <div class="span3">
            <h5>TECHNOLOGY</h5>
            <p><%= link_to "Adaptation Engine", action: 'adaptation' %></p>
            <p><%= link_to "Search API", action: 'api' %></p>
            <h5>SUPPORT &amp; SERVICES</h5>
            <p><%= link_to "24/7 Support", action: 'support' %></p>
          </div>
          <div class="span3">
            <h5>COMPANY</h5>
            <p><%= link_to "About Us", action: 'about' %></p>
            <p><%= link_to "Careers", action: 'careers' %></p>
            <p><%= link_to "News & Events", action: 'news' %></p>
			<p><%= link_to "http://twitter.com/optemo" do %><i class="icon-comment icon-white blend"></i> Follow us on Twitter<% end %></p>
			<p><%= link_to "http://www.linkedin.com/company/optemo-technologies" do %><i class="icon-ok-sign icon-white blend"></i> Connect with with us on LinkedIn<% end %></p>
          </div>
          <div class="span3">
            <h5>CONTACT</h5>
            <p class="extra-top-spacing"><i class="icon-user icon-white blend"></i> 604-639-0778</p>
            <a href="mailto:sales@optemo.com"><p><i class="icon-envelope icon-white blend"></i> sales@optemo.com</a></p>
           
          </div>
        </div>
      </div>
      <div id="footer">
        <p>&copy; 2014 Optemo Technologies. All rights reserved.</p>
      </div>
    </div>
  </div>
  
  <!-- End of common footer -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
